body{
    overflow: auto;
    color:rgb(255, 255, 255);
    background-color: white;
    line-height: 1.6rem;
    text-align: center;
    margin: 2rem;margin-left: 2rem;
}
h1{
    display: flex;flex-wrap: wrap;justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    color:rgb(16, 164, 228);
    padding: 2rem;
    border-radius: 1rem;
}

#error{
    background-color: rgb(232, 69, 40);border-radius: 0.5rem;
}
#welcome {
    color: rgb(16, 164, 228); font-size: 2rem; font-weight: bold;  padding:0rem;
}
span{
    color:rgb(0, 0, 0);
}

main{background-color: rgb(255, 255, 255);
    display:inline-block;
    line-height: 2rem;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem; 
    box-shadow: 0 4px 8px 0 rgb(128, 125, 125) ,0 4px 8px 0 rgb(128, 125, 125) ;
}
form{
    line-height: 2rem;
}
input{
    padding: 0.3rem 0.6rem;border-radius: 0.7rem;border: 0rem;background-color: rgb(219, 210, 210);color:black;
}
label{
    float:inline-start; color:black;
}

#login{
    background-color: rgb(16, 164, 228);border-radius: 2rem; padding: 0.6rem 1rem;
}

footer{
    color: black;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 1rem;
}