body{
    overflow: auto;
    color:rgb(255, 255, 255);
    background-image: url('background-a.jpeg');
    background-size: cover;
    background-position: center;
    line-height: 1.6rem;
    text-align: center;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    color:rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 1rem;
}

#error{
    background-color: rgb(232, 69, 40);border-radius: 2rem;
}
#welcome {
    color: rgb(4, 113, 160); font-size: 2rem; font-weight: bold;  padding:0rem; 
}
span{
    color: black;
}

main{background-color: rgb(0, 0, 0);
    display: inline-block;
    line-height: 2rem;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem; 
    box-shadow: 0 4px 8px 0 rgb(46, 46, 46) ,0 4px 8px 0 rgb(46, 46, 46) ;
}
form{
    line-height: 2rem;
}
input{
    padding: 0.7rem 1rem;border-radius: 0.7rem;border: 0rem;text-align: center;background-color: rgb(63, 69, 71);color:white;
}
label{
    float: left; color: rgb(255, 255, 255);
}

#login{
    background-color: rgb(4, 113, 160);font-size: 1rem;border-radius: 2rem;
}

footer{
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 1rem;
}